= form_for current_user, url: edit_student_profile_path do |f|
  - if current_user.errors.any? 
    .errorExplaination.alert.alert-danger
      %p
        = "#{pluralize(current_user.errors.count, 'error')} prevented your profile from being saved."
      %ul
        - current_user.errors.full_messages.each do |msg|
          %li= msg
  = render partial: 'admin/users/form_fields', locals: {f: f, user: current_user}

  %br

  %fieldset
    %legend accounts 

  .panel.panel-default
    .panel-heading Link Your Accounts
    .panel-body
      - if current_user.github_token.blank?
        .form-group
          = link_to "Link Github", github_scope!
      - else
        %p.alert.alert-success
          Your Github account is linked.
          = link_to "Unlink", oauth_unlink_path(:github), method: :post, class: 'btn btn-primary'

  .form-actions
    = f.submit "Save", :class => 'btn btn-primary'