= render partial: 'tabs', locals: {active_tab: {opportunities: true}}

%ol.breadcrumb
  %li.active Opportunities

.row
  .col-sm-3
    %input.form-control{:type => 'text', :placeholder=>'Search Keyword'}
  .col-sm-3
    %input.form-control{:type => 'text', :placeholder=>'City'}
.row
  .col-sm-12
    - @companies.each do |company|
      .opportunity-box
        %hr
        .row
          .col-sm-12
            .media
              .media-left
                %img.mdedia.media-top{:src => 'http://placehold.it/125x100'}
              .media-body
                %div
                  %strong= company.name 
                  %span= company.city + ','
                  %span= company.state
                %p= company.description
                %br
                - company.opportunities.each do |opp|
                  %div
                    = link_to "#{opp.title} #{opp.city}, #{opp.state}", opportunity_path(opp)
                    %em= "#{time_ago_in_words(opp.created_at)} ago"
                    %p= opp.description
                       
        //= link_to "#{opp.title} at #{opp.company.name} #{'**Applied**' if @application_opportunity_ids.include?(opp.id)}", opportunity_path(opp)

