= render partial: 'tabs', locals: {active_tab: {opportunities: true}}

%ol.breadcrumb
  %li
    = link_to "Opportunities", student_home_path
  %li.active
    = @opportunity.title 

= render partial: 'employer/opportunities/description'

- if Application.exists?(opportunity: @opportunity, student_id: current_user)
  %em You have already applied to this opportunity.
- else
  = link_to "Apply", new_application_path(@opportunity), role: 'button', class: 'btn btn-primary btn-lg'