= render partial: 'tabs', locals: {active_tab: {opportunities: true}}

%ol.breadcrumb
  %li
    = link_to "Opportunities", student_home_path
  %li.active
    = @opportunity.title 

= render partial: 'opportunities/description'

= link_to "Apply", new_application_path(@opportunity), role: 'button', class: 'btn btn-primary btn-lg'