.row
  .activity-message-box
    .col-sm-3
      %span.timestamp= msg.created_at.to_s(:long)
    .col-sm-9
      %span.staff_name= msg.application.application_state_changed_by.name
      %span.message recommended
      %span.message= link_to "#{msg.application.student.name}'s application"
      %span.message to 
      %span.opportunity= link_to msg.application.opportunity.title
      %hr