= content_for(:sidebar) do
  = render 'employer/sidebar', active: :opportunities
= content_for(:center_content) do
  %ul.nav.nav-tabs
    %li{class: 'active', role: 'presentation'}= link_to 'Jobs', '#'
  %ol.breadcrumb
    %li= link_to 'Jobs', employer_opportunities_path
    %li{class: 'active'}= "#{@opportunity.title}"
  .opportunity-box
    .title= link_to @opportunity.title, edit_employer_opportunity_path(@opportunity)
    .description!= @md.render(truncate(@opportunity.description, length: 500))
  %hr
  .row
    = render 'application_boxes', applications: @applications
