= content_for(:sidebar) do
  = render 'employer/sidebar', active: :opportunities
= content_for(:center_content) do
  %ul.nav.nav-tabs
    %li{class: 'active', role: 'presentation'}= link_to 'Jobs', '#'
  %ol.breadcrumb
    %li= link_to "Jobs", employer_opportunities_path
    %li= link_to "#{@opportunity.title}", employer_opportunity_applications_path(@opportunity, @application)
    %li.active= "#{@student.name}"
  .media
    .person-box
      .media-left
        = image_tag @student.avatar.medium_avatar, class: 'img-circle'
      .media-body
        %h1.media-heading
          = link_to "#{@student.name}"
        .info
          %address
            .address
              = "#{@student.address1} #{@student.address2}"
            .city-state
              = "#{@student.city} #{@student.state} #{@student.zip}"
          .email
            = @student.email
          .phone
            = @student.phone
  %br
  %h1 Application
  %hr
  %div{id: 'employer-application'}
    .row
      .col-sm-3
        %span.section Cover Letter
      .col-sm-9
        != @md.render(@application.cover_letter || '')
    %br
    .row
      .col-sm-3
        %span.section Resume
      .col-sm-9
        != @md.render(@application.resume || '')
    %br
    - if @application.resume_file.present?
      .row
        .col-sm-3
          %span.section Resume File
        .col-sm-9
          = link_to "Download Resume", @application.resume_file.url
  - if @recommendations.any?
    %h1 Recommendations
    %hr
    - @recommendations.each do |rec|
      .employer-application-recommendation
        .media
          .media-left
            = image_tag rec.staffer.avatar.medium_avatar, class: 'media-object img-circle'
          .media-body
            .staffer-location
              %span.staffer-name= rec.staffer.name
              %span.staffer-school= rec.staffer.school.name
              %span.staffer-city= rec.staffer.city
            .staffer-email
              = rec.staffer.email
            .staffer-phone
              = rec.staffer.phone
            %br
            .staffer-quote= "\"Lorem ipsum dolor sit amet, vix te malis semper quaestio. Epicurei persecuti ad vis. Regione probatus eos ei. Probatus constituam cotidieque et eum.\""
