%h1 Listing applications

%table.table.table-bordered
  %thead
    %tr
      %th Name
      %th Email
      %th Application

  %tbody
    - @applications.each do |application|
      %tr
        %td= link_to "#{application.student.first_name} #{application.student.last_name}"
        %td= application.student.email
        %td= link_to "View Application", application