%h1 Listing applications

%table.table.table-bordered
  %thead
    %tr
      %th Name
      %th Email
      %th Application

  %tbody
    - @applications.each do |application|
      %tr
        %td= link_to "#{application.user.first_name} #{application.user.last_name}"
        %td= application.user.email
        %td= link_to "View Application", application