%p#notice= notice

%p
  %b Cover letter:
  = @application.cover_letter
%p
  %b Resume:
  = @application.resume
%p
  %b Opportunity:
  = @application.opportunity.title
%p
  %b Company:
  = @application.opportunity.company.name

= link_to 'Edit', edit_application_path(@application)