.row
  .activity-message-box
    .col-sm-3
      %span.timestamp= msg.created_at.to_s(:long)
    .col-sm-9
      %span.staff_name= msg.staffer.name
      %span.message recommended
      %span.message= link_to "#{msg.application.student.name}'s application", staff_application_path(msg.application)
      %span.message to 
      %span.opportunity= link_to msg.application.opportunity.title, staff_opportunity_applications_path(msg.application.opportunity)
      %span.message at
      %span.company= msg.application.opportunity.company.name
      %hr