- @id = (@id && @id + 1) || 1
.row.inbox-item{id: @id}
  .col-sm-12
    .media.inbox-line-item
      %hr
      .media-body
        .row
          .col-sm-3
            %span.date
              = application.created_at.to_s(:long)
          .col-sm-6
            .inbox-message
              %span.student-name= "#{application.student.name}"
              %span.description applied for
              %span.title= "#{application.opportunity.title}"
              %span.description at
              %span.company= "#{application.opportunity.company.name}"
            %br
            .inbox-actions
              = link_to "Add Notes", staff_inbox_edit_student_placement_profile_path(application.student, application), class: 'btn btn-xs btn-default'
              = link_to "View Application", '', class: 'btn btn-xs btn-default'
          .col-sm-3
            .approve-reject-buttons
              = link_to "√ Approve", "#", class: 'btn btn-xs btn-success', line_item_id: @id
              = link_to "Reject", "#", class: 'btn btn-xs btn-danger', line_item_id: @id


