.row
  .activity-message-box
    .col-sm-3
      %span.timestamp= msg.created_at.to_s(:long)
    .col-sm-9
      %span.staff_name= msg.staffer.name
      %span.message added
      %span.message= link_to "'#{msg.application_event.title.titleize}'", staff_edit_student_placement_profile_path(msg.application.student, msg.application)
      %span.message to 
      %span.student_name= "#{msg.application.student.name}'s"
      %span.opportunity= msg.application.opportunity.title
      %span.message= link_to 'application', staff_application_path(msg.application)
      %span.message at
      %span.company= msg.application.opportunity.company.name
      %hr