.row
  .col-sm-9
    .row
      - applications.in_groups_of(2) do |group|
        - group.select(&:present?).each do |application|
          - student = application.student
          .col-sm-6
            .panel.panel-default
              .person-box
                .panel-body
                  %span{id: "star-#{application.id}", class: (@recommended_applications.include?(application) ? 'glyphicon glyphicon-star' : 'hidden-elm glyphicon glyphicon-star')}
                  = image_tag student.avatar.medium_avatar, class: 'img-circle', 'data-student-id' => student.id
                .panel-footer
                  .name
                    = link_to "#{student.first_name} #{student.last_name}", staff_student_resume_path(student)
                  .info
                    .semester
                      = "#{student.semester} #{student.year}".titleize
                    .email
                      = student.email
                    .phone
                      = student.phone
                  %br
                  .actions
                    = link_to "Recommend", staff_create_application_recommendation_path(application), remote: true, method: :post, id: "button-#{application.id}", class: (@recommended_applications.include?(application) ? 'btn btn-xs btn-warning' : 'btn btn-xs btn-primary')
                    = link_to "View Application", staff_application_path(application), class: 'btn btn-xs btn-default'
  .col-sm-3
    = render 'recommended_applications'