.row
  .activity-message-box
    .col-sm-3
      %span.timestamp= msg.created_at.to_s(:long)
    .col-sm-9
      %span.staff_name= msg.staffer.name
      %span.message added
      %span.message= link_to "'#{msg.application_event.title.titleize}'", staff_edit_student_placement_profile_path(msg.application.student, msg.application)
      %span.message to 
      %span.message= link_to "#{msg.application.student.name}'s application", staff_application_path(msg.application)
      %hr