%ul.nav.nav-pills
  %li{class: active.eql?(:pending) ? 'active' : '', :role => 'presentation'}
    = link_to "Pending Approval (#{@pending_count})"
  %li{class: active.eql?(:archived) ? 'active' : '', :role => 'presentation'}
    = link_to "Archived (#{@archived_count})", '#'
  %li{class: active.eql?(:rejected) ? 'active' : '', :role => 'presentation'}
    = link_to "Rejected (#{@rejected_count})", '#' 
