%ul.nav.nav-pills
  %li{class: active.to_sym.eql?(:pending) ? 'active' : '', :role => 'presentation'}
    = link_to "Pending Approval (#{@pending_count})", staff_home_path
  %li{class: active.to_sym.eql?(:archived) ? 'active' : '', :role => 'presentation'}
    = link_to "Archived (#{@archived_count})", staff_applications_path(:archived)
  %li{class: active.to_sym.eql?(:rejected) ? 'active' : '', :role => 'presentation'}
    = link_to "Rejected (#{@rejected_count})", staff_applications_path(:rejected)
