= form_for ApplicationEvent.new(application: @application), url: staff_create_student_placement_event_path(@application), class: 'form' do |f|
  .field-set
    .legend Add A New Note
    .form-group
      = f.label :title
      = f.collection_select :title, ApplicationEvent::APP_EVENTS, :to_s, :titleize, {},  class: 'form-control'
    .form-group
      = f.label :event_date
      = f.date_select :event_date, class: 'form-control'
    .form-group
      = f.label :notes
      = f.text_area :notes, rows: '8', class: 'form-control'
    .form-group
      = f.submit("Add Note", class: 'btn btn-primary')
