.row
  .col-sm-12
    - company = opp.company
    .opportunity-box
      %hr
      .row
        .col-sm-12
          .media
            .media-left
              = ""
            .media-body
              .title
                = link_to opp.title, staff_opportunity_path(opp)
              .company-name
                %strong= company.name
                = "#{opp.city}, #{opp.state}"
              .recruiter
                = "Recruiter: #{opp.employer.email}"
              %br
              .description
                = truncate(opp.description, length: 150)
              .skills
                %span.label.label-default= opp.skills
              %br
              - if actions
                .actions
                  = link_to "Applications (#{opp.applications_count || 0})", staff_opportunity_applications_path(opp), class: 'btn btn-default'
            .media-right
              .time-stamp
                = "#{time_ago_in_words(opp.created_at)} ago"