.row
  .activity-message-box
    .col-sm-3
      %span.timestamp= msg.created_at.to_s(:long)
    .col-sm-9
      %span.staff_name= msg.employer.name
      %span.message added
      %span.message= link_to "'#{msg.opportunity.title.titleize}'", staff_opportunity_path(msg.opportunity)
      %span.message at
      %span.company= msg.opportunity.company.name
      %hr