%ul.nav.nav-pills.nav-stacked
  %li{class: active == :dashboard ? 'active' : ''}= link_to "Dashboard"
  %li{class: active == :messages ? 'active' : ''}= link_to "Messages"
  %li{class: active == :recommendations ? 'active' : ''}= link_to "Recommendations"
  %li{class: active == :jobs ? 'active' : ''}= link_to "Jobs"
  %hr
  %li{class: active == :team ? 'active' : ''}= link_to "Team"
  %li{class: active == :students ? 'active' : ''}= link_to "Students"
  %li= link_to "Campuses"