%ul.nav.nav-pills.nav-stacked
  %li{class: active == :messages ? 'active' : ''}= link_to "Messages", staff_messages_path
  %li{class: active == :recommendations ? 'active' : ''}= link_to "Recommendations", staff_recomendations_path
  %li{class: active == :opportunities ? 'active' : ''}= link_to "Jobs", staff_opportunities_path
  %li{class: active == :team ? 'active' : ''}= link_to "Team", staff_team_path
  %li{class: active == :companies ? 'active' : ''}= link_to "Companies", staff_companies_path
  %li{class: active == :students ? 'active' : ''}= link_to "Students", staff_students_path
  %li{class: active == :campuses ? 'active' : ''}= link_to "Campuses", staff_campuses_path