.media.person-box
  .media-left
    = image_tag @student.avatar.medium_avatar, class: 'img-circle'
  .media-body
    %h1.media-heading
      = link_to "#{@student.name}"
    .info
      .email
        = @student.email
      .phone
        = @student.phone
      .semester
        = "#{@student.semester.titleize} #{@student.year}"
      .campus
        = @student.campus.full_name
