.row
  .col-sm-12
    .panel.panel-default
      .panel-body
        = render 'student_profile_header'
.row
  .col-sm-12
    .application-events-title 
      %span.title= @application.opportunity.title
      %span.company= @application.opportunity.company.name
      %span.location= "#{@application.opportunity.city} #{@application.opportunity.state}"
      %br
      %span.applied 
        = "Applied #{@application.created_at.to_s(:long)}"
.row
  .col-sm-7
    = render 'application_event_boxes'
  .col-sm-5
    .panel.panel-default
      .panel-body
        = render 'new_student_placement_event_form'