.panel.panel-default
  .panel-body
    = render 'student_profile_header'
.row
  .col-sm-12
    - @applications.each do |app|
      .student-application-panel
        .panel.panel-default
          .panel-heading
            .application-heading 
              %span.title= "#{app.opportunity.title}"
              %span.company= "#{app.opportunity.company.name}"
              %span.city= "#{app.opportunity.city}"
              %span.state= "#{app.opportunity.state}"
          .panel-body.application-info
            - if app.application_events.any?
              - event = app.application_events.first
              .application-title
                = "#{event.title.titleize} #{event.created_at.to_s(:long)}"
              .event-description
                = event.notes
            - else
              .application-title= "Applied #{app.created_at.to_s(:long)}"

            %br
            Recruiter:
            .application-recruiter
              .name
                = app.opportunity.employer.name
              .email
                = app.opportunity.employer.email
              .phone
                = app.opportunity.employer.phone
              %br
              = link_to "Edit", staff_edit_student_placement_profile_path(@student, app), class: 'btn btn-default'