.row
  .col-sm-9
    .row
      - students.in_groups_of(2) do |group|
        - group.select(&:present?).each do |student|
          .col-sm-6
            .panel.panel-default
              .person-box{'data-student-id': student.id}
                .panel-body
                  - if render_recommendation_button
                    %span{id: "star-#{student.id}", class: "glyphicon glyphicon-star #{@opportunity_recommendations.none?{|rec| rec.opportunity == @opportunity && rec.student == student} ? 'hide-star' : ''}"}
                  = image_tag student.avatar.medium_avatar, class: 'img-circle'
                .panel-footer
                  .name
                    = link_to student.name, staff_student_resume_path(student)
                  .info
                    .email
                      = student.email
                    .phone
                      = student.phone
                  %br
                  .actions
                    - if render_recommendation_button
                      = link_to "Recommend", staff_toggle_opportunity_recommendation_path(@opportunity, student), id: "button-#{student.id}", class: "btn btn-xs #{@opportunity_recommendations.none?{|rec| rec.opportunity == @opportunity && rec.student == student} ? 'btn-primary' : 'btn-warning'}", remote: true, method: :post
                    - unless render_recommendation_button
                      = link_to "View Applications", staff_student_placement_profile_path(student), class: 'btn btn-xs btn-default'
  - if render_recommendation_button
    .col-sm-3 
      .row
        = render 'recommended_students', students: @recommended_students
