%ul.nav.nav-tabs

  - if active_tab[:inbox] 
    %li.active{:role => 'presentation'}
      = link_to "Inbox", staff_home_path
  - else
    %li{:role => 'presentation'}
      = link_to "Inbox", staff_home_path

  - if active_tab[:students]
    %li.active{:role => 'presentation'}
      = link_to "Students", staff_students_path
  - else 
    %li{:role => 'presentation'}
      = link_to "Students", staff_students_path

  - if active_tab[:opportunities]
    %li.active{:role => 'presentation'}
      = link_to "Admin", staff_students_path 
  - else 
    %li{:role => 'presentation'}
      = link_to "Admin", staff_students_path
