- @id = (@id && @id + 1) || 1
.row.inbox-item{id: @id}
  .col-sm-12
    .media.inbox-line-item
      %hr
      .media-body
        .row
          .col-sm-4
            %span.date
              = todo_timestamp
          .col-sm-8
            %span.inbox-message
              = message 
            .help
              = help 
            %br
            .inbox-actions
              = link_to "View Profile", staff_inbox_profile_path(1), class: 'btn btn-default'
              = link_to "View Application", '', class: 'btn btn-default'
              = link_to "Send Auto Follow Up", staff_new_auto_follow_up_path(1), class: 'btn btn-default'
      .media-left
        = link_to "OK", "#", class: 'inbox-item-ok btn btn-success', line_item_id: @id


