.row
  .col-sm-12
    .media.inbox-line-item
      %hr
      .media-left
        %form{role: 'form'}
          .checkbox
            %label
              %input{id: 'box1', type: 'checkbox'}
      .media-body
        .row
          .col-sm-12
            .inbox-line-summary
              %span.glyphicon{class: glyph}
              %span.inbox-subject
                = subject
              %span.inbox-message
                &nbsp;
                = message 
            .help
              = help 
            .info
              %div
                student-email@gmail.com
              %div
                (915) 920-0102
            .inbox-actions
              = link_to "Profile", staff_inbox_profile_path(1) 
              |
              = link_to "Send Auto Follow Up", staff_new_auto_follow_up_path(1)
      .media-right
        .row
          .col-sm-6
            .inbox-timestamp
              = todo_timestamp 


