- @id = (@id && @id + 1) || 1
.row.inbox-item{id: @id}
  .col-sm-12
    .media.inbox-line-item
      %hr
      .media-body
        .row
          .col-sm-3
            %span.date
              = todo_timestamp
          .col-sm-6
            %span.inbox-message
              = message 
            .help
              = help 
            %br
            .inbox-actions
              = link_to "Add Notes", staff_inbox_profile_path(1), class: 'btn btn-default'
              = link_to "View Application", '', class: 'btn btn-default'
          .col-sm-3
            .approve-reject-buttons
              = link_to "√ Approve", "#", class: 'btn btn-success', line_item_id: @id
              = link_to "Reject", "#", class: 'btn btn-danger', line_item_id: @id


