= content_for(:sidebar) do
  = render 'sidebar', active: :home

= content_for(:center_content) do
  = render 'messages_tabs', active: :activity

  %br
  - @activity_messages.each do |msg| 
    - if msg.type.eql? 'ApplicationMessage'
      = render 'application_message_box', msg: msg
    - elsif msg.type.eql? 'ApplicationEventMessage'
      = render 'application_event_message_box', msg: msg
    - elsif msg.type.eql? 'OpportunityMessage'
      = render 'opportunity_message_box', msg: msg
    - elsif msg.type.eql? 'ApplicationRecommendationMessage'
      = render 'application_recommendation_message_box', msg: msg
    - else
      - raise "Unknown message type: #{msg.type}"
  = will_paginate(@activity_messages, renderer: BootstrapPagination::Rails)
