= content_for(:sidebar) do
  = render 'sidebar', active: :home

= content_for(:center_content) do
  = render 'messages_tabs', active: :activity

  %br
  - @activity_messages.each do |msg| 
    .row
      .col-sm-3
        %span.when= msg.created_at
      .col-sm-9
        - if msg.application.approved?
          Approved
        - else
          Rejected
