= content_for(:sidebar) do
  = render 'sidebar', active: :campuses

= content_for(:center_content) do
  %ul.nav.nav-tabs
    %li.active{role: 'presentation'}
      = link_to 'Campuses'
  %br
  = render template: 'admin/campuses/index'