= content_for(:sidebar) do
  = render 'sidebar', active: :home

= content_for(:center_content) do
  = render 'messages_tabs', active: :applications
  %ol.breadcrumb
    %li.active Applications
  = render 'messages_subtabs', active: @active_button
  - if @applications.any?
    - @applications.each do |app|
      = render 'application_box', application: app
  = will_paginate(@applications, renderer: BootstrapPagination::Rails)