= content_for(:sidebar) do
  = render 'sidebar', active: :home
= content_for(:center_content) do
  = render 'messages_tabs', active: :applications
  %ol.breadcrumb
    %li= link_to 'Applications', staff_home_path
    %li.active= 'Notes' 
  = render 'messages_subtabs', active: :pending
  %br
  = render 'student_placement_profile_form'