= content_for(:sidebar) do
  = render 'sidebar', active: :opportunities

= content_for(:center_content) do
  = render 'opportunity_box', opp: @opportunity, actions: false
  %h1 Recommend Students 
  = render 'student_filter_form', target_path: staff_opportunity_recommendations_path
  %hr
  = render 'student_boxes', students: @students, render_recommendation_button: true
  = will_paginate @students, renderer: BootstrapPagination::Rails