= content_for(:sidebar) do
  = render 'sidebar', active: :opportunities

= content_for(:center_content) do
  = render 'opportunity_box', opp: @opportunity, actions: false
  %hr
  %h1 Student Recommendations 
  = render 'student_filter_form', target_path: staff_opportunity_recommendations_path
  %br
  = render 'student_boxes', students: @students
  = will_paginate @students, renderer: BootstrapPagination::Rails