= content_for(:sidebar) do
  = render 'sidebar', active: :opportunities

= content_for(:center_content) do
  = render 'opportunities_tabs', active: :opportunities
  - @opportunities.each do |opp|
    = render 'opportunity_box', opp: opp, actions: true
  = will_paginate(@opportunities, renderer: BootstrapPagination::Rails)