= content_for(:sidebar) do
  = render 'sidebar', active: :students

= content_for(:center_content) do
  = render 'students_tabs', active: :students
  %br
  .staff_students
    .row
      .col-sm-4
        = link_to "New Student", staff_new_student_path, class: 'btn btn-primary'
    %br
    %br
    .row
      .col-sm-12
        = render 'student_filter_form', target_path: staff_students_path
    %br
    %br
    - if @students.any?
      = render 'student_boxes', students: @students, render_recommendation_button: false
      = will_paginate(@students, renderer: BootstrapPagination::Rails)
    - else
      %h1 Select A Filter
