= render partial: 'tabs', locals: {active_tab: {students: true}}

%ol.breadcrumb
  %li.active Students


.staff_students
  .row
    .col-sm-4
      = link_to "Create Student", '#', class: 'btn btn-primary'

  %br
  %br
  .row
    .col-sm-4
      %span Cohort: &nbsp;
      .btn-group
        %button.btn.btn-default.dropdown-toggle{:type => 'button', :data_toggle => 'dropdown', :aria_expanded => 'false'}
          Spring 2015 
          %span.caret
        %ul.dropdown-menu{:role => 'menu'}
          %li
            = link_to 'Spring 2015', '#'
          %li
            = link_to 'Winter 2014', '#'
          %li
            = link_to 'Fall 2014', '#'
          %li
            = link_to 'Summer 2014', '#'
          %li
            = link_to 'Spring 2014', '#'
          %li
            = link_to 'Winter 2013', '#'

  .row
    .col-sm-12
      - @students.each do |student|
        .media.person-box
          %hr
          .media-left
            = image_tag student.avatar.medium_avatar, class: 'img-circle'
          .media-body
            %h1.media-heading
              = link_to "#{student.first_name} #{student.last_name}"
            .info
              .email
                = student.email
              .phone
                = student.phone
            %br
            .help
              =link_to "Applications", staff_student_applications_path(student)
              |
              =link_to "Recommend", staff_new_student_recommendation_path(student)
      = will_paginate(@students, renderer: BootstrapPagination::Rails)

