= render partial: 'tabs', locals: {active_tab: {students: true}}

%ol.breadcrumb
  %li
    = link_to "Students", staff_students_path
  %li.active
    = "#{@student.name}'s Applications"

= render partial: 'student_applications'