= content_for(:sidebar) do
  = render 'sidebar', active: :students

= content_for(:center_content) do
  = render 'students_tabs', active: :students
  %br
  .staff_students
    .row
      .col-sm-4
        = link_to "New Student", staff_new_student_path, class: 'btn btn-primary'
    %br
    %br
    .row
      .col-sm-12
        = form_tag staff_students_path, class: 'form-inline' do
          .form-group
            = label_tag 'campus_id', 'Campus'
            = select_tag(:campus_id, options_for_select(@campuses.map{|c| [c.full_name, c.id]}, @campus.id), class: 'form-control')
          = submit_tag 'Filter', class: 'btn btn-default'
    - if @students.any?
      .row
        .col-sm-12
          - @students.each do |student|
            .media.person-box
              %hr
              .media-left
                = image_tag student.avatar.medium_avatar, class: 'img-circle'
              .media-body
                %h1.media-heading
                  = link_to "#{student.first_name} #{student.last_name}"
                .info
                  .email
                    = student.email
                  .phone
                    = student.phone
                %br
                .actions
                  = link_to "Profile", staff_student_placement_profile_path(student), class: 'btn btn-default'
                  = link_to "Recommend", staff_new_student_recommendation_path(student), class: 'btn btn-default'
          = will_paginate(@students, renderer: BootstrapPagination::Rails)
    - else
      Nothing here yet.

