- model_class = Company
= link_to 'New Company', new_admin_company_path, :class => 'btn btn-primary'
%br
%br
%table.table
  %thead
    %tr
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:website)
      %th= model_class.human_attribute_name(:city)
      %th= model_class.human_attribute_name(:state)
      %th
  %tbody
    - @companies.each do |company|
      %tr
        %td= company.name 
        %td= company.website
        %td= company.city
        %td= company.state
        %td
          = link_to 'Edit', edit_admin_company_path(company), class: 'btn btn-default'

