%h1= @company.name
%ul
  %li= link_to "Employers", admin_company_employers_path(@company)
  %li= link_to "Opportunities", company_opportunities_path(@company.slug)

- model_class = Company
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @company.name
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @company.description
%p
  %strong= model_class.human_attribute_name(:website) + ':'
  %br
  = @company.website
%p
  %strong= model_class.human_attribute_name(:address1) + ':'
  %br
  = @company.address1
%p
  %strong= model_class.human_attribute_name(:address2) + ':'
  %br
  = @company.address2
%p
  %strong= model_class.human_attribute_name(:city) + ':'
  %br
  = @company.city
%p
  %strong= model_class.human_attribute_name(:state) + ':'
  %br
  = @company.state
%p
  %strong= model_class.human_attribute_name(:zip) + ':'
  %br
  = @company.zip
%p
  %strong= model_class.human_attribute_name(:phone) + ':'
  %br
  = @company.phone

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), admin_companies_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_company_path(@company), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_company_path(@company), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
