.row
  .col-sm-12
    - company = opportunity.company
    .opportunity-box
      %hr
      .row
        .col-sm-12
          .media
            .media-left
              = ""
            .media-body
              .title
                = link_to opportunity.title, edit_employer_opportunity_path(opportunity)
              %br
              .description
                = truncate(opportunity.description, length: 150)
              .skills
                %span.label.label-default= opportunity.skills
              %br
              .actions
                = link_to "View Applications (#{opportunity.applications_count || 0})", '', class: 'btn btn-default'
            .media-right
              .time-stamp
                = "#{time_ago_in_words(opportunity.created_at)} ago"