%h1= @company.name

= link_to "New Employer", new_admin_company_employer_path(@company), class: 'btn btn-primary'

%table.table
  %thead
    %tr
      %th ID
      %th Email
      %th First Name
      %th Last Name
  %tbody
  - @employers.each do |u|
    %tr
      %td= u.id
      %td= link_to u.email, edit_admin_company_employer_path(@company, u)
      %td= u.first_name
      %td= u.last_name
      %td= link_to "Destroy", admin_company_employer_path(@company, u), method: :delete