%h1= @company.name

%ul
  %li= link_to "Edit My Company", company_edit_path(@company.slug)
  %li= link_to "Create A New Career Opportunity", new_company_opportunity_url(@company.slug)

%h2 Career Opportunities
%table.table.table-bordered
  - @opportunities.each do |o|
    %tr
      %td= link_to o.title, edit_company_opportunity_url(@company.slug, o) 
      %td= link_to "#{o.applications.count} Applications", opportunity_applications_path(o) 
