= content_for(:sidebar) do
  = render 'employer/sidebar', active: :opportunities

= content_for(:center_content) do
  = render(@opportunities)
  = will_paginate(@opportunities, renderer: BootstrapPagination::Rails)