- model_class = Opportunity
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:title) + ':'
  %br
  = @opportunity.title
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @opportunity.description
%p
  %strong= model_class.human_attribute_name(:city) + ':'
  %br
  = @opportunity.city
%p
  %strong= model_class.human_attribute_name(:state) + ':'
  %br
  = @opportunity.state
%p
  %strong= model_class.human_attribute_name(:is_open) + ':'
  %br
  = @opportunity.is_open
%p
  %strong= model_class.human_attribute_name(:is_affilated) + ':'
  %br
  = @opportunity.is_affilated
%p
  %strong= model_class.human_attribute_name(:company_id) + ':'
  %br
  = @opportunity.company_id

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), company_opportunities_path(@company.slug), :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_company_opportunity_path(@company.slug, @opportunity), :class => 'btn'
