%nav.navbar.navbar-inverse
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{:type => 'button', 'data-toggle' => 'collapse', 'data-target' => '#navbar', 'aria-expanded' => 'false', 'aria-controls' => 'navbar'}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "SchoolSail", user_home_url(current_user), class: 'navbar-brand'
    .collapse.navbar-collapse#navbar
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %li.dropdown
            =link_to 'Admin', '#', class: 'drop-down-toggle', 'data-toggle' => 'dropdown', role: 'button', 'aria-expanded' => 'false'
            %ul{class: 'dropdown-menu', role: 'menu'}
              %li= link_to "Home", user_home_url(current_user)
              - if current_user && !current_user.admin?  # There is no profile page for the admin yet.
                - if current_user.employer?
                  %li= link_to("Profile", eval("employer_edit_#{current_user.type.parameterize.underscore}_profile_path"))
                - else
                  %li= link_to("Profile", eval("edit_#{current_user.type.parameterize.underscore}_profile_path"))
                - if current_user.staff?
                  %li= link_to 'Campuses', staff_campuses_path
                  %li= link_to 'Companies', staff_companies_path
                  %li= link_to 'Team', staff_team_path
              %hr
              %li= link_to "About", revisions_path
        - if current_user 
          %li= link_to "Logout", logout_path, method: :delete
        - else
          %li= link_to "Login", login_path